<?xml version="1.0"?>
<config>
    <modules>
        <EM_Instagrampro>
            <version>0.1.0</version>
        </EM_Instagrampro>
    </modules>
    <blocks>
        <instagrampro>
            <rewrite>
                <instagrampro>EM_Instagrampro_Block_Instagrampro</instagrampro>
            </rewrite>
        </instagrampro>
    </blocks>
    <frontend>
        <routers>
            <instagrampro>
                <use>standard</use>
                <args>
                    <module>EM_Instagrampro</module>
                    <frontName>instagrampro</frontName>
                </args>
            </instagrampro>
        </routers>
        <layout>
            <updates>
                <instagrampro module="EM_Instagrampro_Layout">
                    <file>instagrampro.xml</file>
                </instagrampro>
            </updates>
        </layout>
    </frontend>
    <global>
        <blocks>
            <instagrampro>
                <class>EM_Instagrampro_Block</class>
            </instagrampro>
        </blocks>
        <models>
            <instagrampro>
                <class>EM_Instagrampro_Model</class>
                <resourceModel>instagrampro_resource</resourceModel>
            </instagrampro>
            <instagrampro_resource>
                <class>EM_Instagrampro_Model_Resource</class>
            </instagrampro_resource>
        </models>
        <resources>
            <instagrampro_setup>
                <setup>
                    <module>EM_Instagrampro</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </instagrampro_setup>
            <instagrampro_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </instagrampro_write>
            <instagrampro_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </instagrampro_read>
        </resources>
        <helpers>
            <instagrampro>
                <class>EM_Instagrampro_Helper</class>
            </instagrampro>
        </helpers>
    </global>
    <default>
        <instagrampro>
            <instagrampro_settings>
                <instagrampro_status>1</instagrampro_status>
                <instagrampro_title>Title</instagrampro_title>
                <instagrampro_play_speed>2000</instagrampro_play_speed>
                <instagrampro_item>20</instagrampro_item>
            </instagrampro_settings>
        </instagrampro>
    </default>
    <adminhtml>
        <layout>
            <updates>
                <instagrampro>
                    <file>instagrampro.xml</file>
                </instagrampro>
            </updates>
        </layout>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <instagrampro>
                                            <title>instagrampro - All</title>
                                        </instagrampro>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
</config>